* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("./dashboard-project.png");
  background-size: contain;
  background-repeat: no-repeat;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

button {
  background: none;
  border: none;
  padding: none;
}

.shadow-text {
  -webkit-transition: 300ms;
  transition: 300ms;
}

.shadow-text:hover, .shadow-text:focus {
  outline: none;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.295);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.shadow-box {
  -webkit-transition: 300ms;
  transition: 300ms;
}

.shadow-box:hover, .shadow-box:focus {
  outline: none;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.295);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.295);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 17.5rem auto;
      grid-template-columns: 17.5rem auto;
  height: 100%;
}

.dashboard {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (3rem)[12];
      grid-template-rows: repeat(12, 3rem);
  color: white;
  background-color: #2490d1;
  height: 100%;
  font-weight: bold;
}

.dashboard__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.36rem 0.87rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.dashboard__heading > .material-icons {
  font-size: 2.8rem;
  margin-right: 0.6rem;
}

.dashboard__nav-buttons {
  display: -ms-grid;
  display: grid;
  padding-left: 1.6rem;
  -ms-grid-row: 3;
  -ms-grid-row-span: 6;
  grid-row: 3/9;
  grid-auto-rows: 2.87rem;
}

.dashboard__settings {
  display: -ms-grid;
  display: grid;
  margin-top: -1.1rem;
  padding-left: 1.6rem;
  -ms-grid-row: 10;
  -ms-grid-row-span: 2;
  grid-row: 10/12;
  grid-auto-rows: 2.9rem;
}

.dashboard__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.23rem;
  cursor: pointer;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10.2rem auto;
      grid-template-rows: 10.2rem auto;
}

.search {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 4.5rem auto;
      grid-template-rows: 4.5rem auto;
  padding: 0 2.25rem;
  -webkit-box-shadow: 0px 4px 4px -3px black;
          box-shadow: 0px 4px 4px -3px black;
}

.search__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__button {
  margin-right: 1rem;
}

.search__box {
  border: none;
  background-color: #e1e7ef;
  border-radius: 25px;
  padding: 0.4rem;
  text-indent: 0.3rem;
  width: 34.6rem;
}

.search__bell {
  margin-left: 6.6rem;
}

.search__profile-pic {
  margin-left: 1.94rem;
  height: 2.4rem;
}

.search__profile-pic--large {
  height: 4.4rem;
}

.search__profile-name {
  margin-left: 1.9rem;
}

.search__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-area {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (fit-content)[2];
      grid-template-columns: repeat(2, -webkit-fit-content);
      grid-template-columns: repeat(2, fit-content);
  font-weight: bold;
  grid-column-gap: 0.5rem;
}

.profile-area__pic {
  height: 5rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.profile-area__welcome {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  font-size: 0.8rem;
}

.profile-area__name {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-size: 1.31rem;
}

.button-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  gap: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
}

.button-area__button {
  background-color: #2490d1;
  color: white;
  width: 5.7rem;
  height: 2rem;
  font-weight: bold;
  font-size: 14px;
  border-radius: 25px;
}

.main-area {
  background-color: #e1e7ef;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.6fr 1fr;
      grid-template-columns: 2.6fr 1fr;
  -ms-grid-rows: 1fr 1.05fr;
      grid-template-rows: 1fr 1.05fr;
  padding-top: 2rem;
}

.main-area__area-title {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
}

.main-area__project-area {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/3/2;
}

.main-area__project-area > h1 {
  margin-left: 0.9rem;
}

.main-area__announce-area {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
}

.main-area__trend-area {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
}

.project-field {
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 100%;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-rows: 12.5rem;
  padding: 0 1rem;
  grid-gap: 1.566rem;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
  border-left: solid #efb33b 0.5rem;
  padding: 2.1rem 1.4rem 1.6rem 1.3rem;
  background-color: white;
}

.project > div {
  height: 100%;
  overflow: hidden;
}

.project__title {
  font-size: 0.95rem;
}

.project__para {
  font-size: 0.92rem;
  height: 100%;
}

.project__button-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 1.5rem;
}

.project__button--rotate {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.project__button--rotate:hover, .project__button--rotate:focus {
  -webkit-transform: rotate(-90deg) scale(1.04);
          transform: rotate(-90deg) scale(1.04);
}

.announce-field {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12.8rem;
      grid-template-columns: 12.8rem;
  grid-auto-rows: 1fr 1px;
  grid-row-gap: 0.9rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  margin-right: 2.1rem;
  height: 18.7rem;
  border-radius: 10px;
  padding: 2rem 0;
}

.announcement {
  margin: 0 0.37rem;
}

.announcement__title {
  font-size: 0.79rem;
}

.announcement__para {
  font-size: 0.71rem;
}

.announcement__line-break {
  background-color: #e1e7ef;
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=index.css.map */